.mainRight {
  position: absolute;
  width: 59.5%;
  margin: 0 auto;
  margin-left: 40%;
  border-radius: 10% 0px 0px 10%;
  background-color: aliceblue;
}
.calend {
  border-color: none;
  background-color: aliceblue;
  justify-content: center;
  box-shadow: inset;
}
.card {
  margin-left: 10px !important;
  margin-top: 2px !important;
}
.card-text{
  margin-left: 15px;
}
.card img {
  height: 80%;
}

.timeline {
  font-weight: 400;
  font-size: large;
}
.teach-name {
  margin-bottom: -2px;
  margin-left: -150px !important;
}
.teache-name {
  margin-bottom: -2px;
  margin-left: -150px !important;
}
@media screen and (max-width: 700px){
  .mainRight{
    top: -10000px !important;
  }
}
