.archive{
    /* margin: 0 auto; */
    /* background-color: black; */
    padding-left: 20%;
    /* border: 1px red solid */
    max-width: 90%;
}
/* .header{
    max-height: 15%;
    max-width: 20%;
    border: 1px solid red;
    margin-left:10% ;
} */